.aboutSection {
  min-height: 85vh;
  z-index: -1;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 0 60px 30px #154A6D;
  box-shadow: inset 0 0 60px 30px #154A6D;
}

.mainSection {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photoSection {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gram {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about {
  text-indent: 2em;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  color: #000000;
}