body {
  font-family: 'Montserrat', sans-serif;
  background: #F7F7F7;
}



::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}