.navContainer {
  height: 15vh;
  width: 100%;
  border-bottom: 5px solid #154A6D;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fullName {
  margin-left: 30px;
  font-weight: 900;
  margin-bottom: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #4C4C4C;
}

.accents {
  color: #39B1FF;
}

.navFull {
  margin-right: 30px;
  float: right;
  text-align: right;

}

.navLink {
  font-weight: bold;
  font-size: 20px;
  color: #4C4C4C;
  top: 50%
}

.navLink:hover {
  color: #39B1FF;
}