.navContainer {
  height: 15vh;
  width: 100%;
  border-bottom: 5px solid #154a6d;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 1fr;

}

.logoFull {
  display: flex;
  align-items: center;
  text-decoration: none;

}

.logoImage {
  padding: 2rem;
  width: 50px;
  background: transparent;
}

.fullName {
  font-weight: 800;

  font-size: 3rem;
  color: #202020;

}

.names {
  display: block;
  padding-left: 1rem;

}

.navFull {
  margin-right: 30px;
  float: right;
  text-align: right;
}

.navLink {
  font-weight: bold;
  font-size: 2rem;
  color: #202020;
  top: 50%;
}

.navLink:hover {
  color: #39b1ff;
}